
<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
     <div layout:fragment="contents">
		<nav class="mt-2 d-flex justify-content-center align-items-center">
			<hr>
			<b><span class="w-100 text-center">모든 지점 확인</span></b>
			<hr>
		</nav>
		<section>
			<article class="">
				<div class="main-zone">
					<table class="w-100 mt-4 table">
						<thead class="bg-secondary">
							<tr class="d-flex justify-content-around">
								<th>지점</th>
								<th>보유 테마 수</th>
								<th>주소</th>
								<th>edit</th>
							</tr>
						</thead>
						<tbody th:each="branch:${branchList}">
							<tr class="d-flex justify-content-around align-items-center">
								<td><img width="100px" th:src="${branch.branchPath}"><small th:text="${branch.name}">사파리 홍대점</small></td>
								<td class="ml-2">3</td>
								<td th:text="${branch.location}">서울</td>
								<td>
									<a class="btn mb-2 btn-info" th:href="|/admin/theme/list-view?branchId=${branch.id}|">테마 관리</a>
									<br>
									<button class="btn delete-btn btn-danger" th:data-branch-id="${branch.id}">지점 삭제</button>
									<br>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="btn-zone mt-4 d-flex justify-content-around">
					<a class="btn rounded btn-secondary" href="/admin/branch/create-view">지점 추가하기</a>
					<a class="btn rounded btn-secondary" href="/admin/reservation-view">모든 예약 내역</a>
				</div>
			</article>
		</section>
	</div>
	<script layout:fragment="script">
		$(function() {
			
			$(".delete-btn").on("click", function() {
				let id = $(this).data("branch-id");
				$.ajax({
					type:"delete"
					,url:"/admin/delete-branch"
					,data:{"id":id}
					,success:function(response){
						if(response.result == "success") {
							location.reload();
						}else {
							alert("삭제 실패!");
						}
					}
					,error:function() {
						alert("삭제 에러!");
					}
				});
				
			});
		});
	</script>
</html>