<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/compliance}">
     <div layout:fragment="contents">
		<div class="main-box d-flex justify-content-around">
			<div class="review-1">
				<img th:src="${theme.imagePath}" alt="테마 포스터 이미지">
			</div>
			<div class="review-2 text-center d-flex align-items-center">
				<div class="review-2-1">
					<div class="mb-4">
						<span>이 테마의 리뷰를 남겨주세요!</span>
					</div>
					<div class="star-zone">
						<label class="w-100 text-white bg-info form-control">별점</label>
						<button class="btn" id="white-star-1"><i class="bi bi-star"></i></button>
						<button class="black-star btn d-none" id="black-star-1"><i class="bi bi-star-fill"></i></button>
						<button class="btn" id="white-star-2"><i class="bi bi-star"></i></button>
						<button class="black-star btn d-none" id="black-star-2"><i class="bi bi-star-fill"></i></button>
						<button class="btn" id="white-star-3"><i class="bi bi-star"></i></button>
						<button class="black-star btn d-none" id="black-star-3"><i class="bi bi-star-fill"></i></button>
						<button class="btn" id="white-star-4"><i class="bi bi-star"></i></button>
						<button class="black-star btn d-none" id="black-star-4"><i class="bi bi-star-fill"></i></button>
						<button class="btn" id="white-star-5"><i class="bi bi-star"></i></button>
						<button class="black-star btn d-none" id="black-star-5"><i class="bi bi-star-fill"></i></button>
					</div>
					<div class="text-center">
						<label class="w-100 text-white bg-info form-control">난이도</label>
						<div class="d-flex justify-content-around">
							<label>완전쉬움</label>
							<label>쉬움</label>
							<label>보통</label>
							<label>어려움</label>
							<label>지옥</label>
						</div>
						<div class="d-flex justify-content-around" >
							<input type="radio" class="form-control" name="level" value="완전쉬움"> 
							<input type="radio" class="form-control" name="level" value="쉬움"> 
							<input type="radio" class="form-control" name="level" value="보통"> 
							<input type="radio" class="form-control" name="level" value="어려움">
							<input type="radio" class="form-control" name="level" value="지옥">
						</div>
					</div>
					<div class="mt-2">
						<label class="w-100 text-white bg-info form-control">성공, 실패 여부</label>
						<div class="d-flex justify-content-around">
							<div><input type="radio" class="form-control" name="success" value="success"> 성공</div> 
							<div><input type="radio" class="form-control" name="success" value="fail"> 실패</div>
						</div>
					</div>
					<div class="text-left ml-2">
						<label class="w-100 text-center text-white bg-info form-control">후기 내용</label> <br>
						<textarea class="form-control" rows="3" cols="60" id="reviewText"></textarea>
					</div>
					<div class="ml-2 mt-4">
						<button class="btn btn-info form-control" id="createBtn">후기 등록하기</button>
					</div>
				</div>
			</div>
		</div>

		<hr>
	</div>
	<script layout:fragment="script">
		$(function() {
			
			$("#createBtn").on("click", function() {
				let level = $("input:radio[name=level]:checked").val();
				let success = $("input:radio[name=success]:checked").val();
				let contents = $("#reviewText").val();
				
			});
			
			$("#white-star-1").on("click",function() {
				$("#black-star-1").removeClass("d-none");
				$(this).addClass("d-none");
			});
			$("#white-star-2").on("click",function() {
				$("#black-star-2").removeClass("d-none");
				$(this).addClass("d-none");
			});
			$("#white-star-3").on("click",function() {
				$("#black-star-3").removeClass("d-none");
				$(this).addClass("d-none");
			});
			$("#white-star-4").on("click",function() {
				$("#black-star-4").removeClass("d-none");
				$(this).addClass("d-none");
			});
			$("#white-star-5").on("click",function() {
				$("#black-star-5").removeClass("d-none");
				$(this).addClass("d-none");
			});
			$("#black-star-5").on("click",function() {
				$("#white-star-5").removeClass("d-none");
				$(this).addClass("d-none");
			});
			$("#black-star-4").on("click",function() {
				$("#white-star-4").removeClass("d-none");
				$(this).addClass("d-none");
			});
			$("#black-star-3").on("click",function() {
				$("#white-star-3").removeClass("d-none");
				$(this).addClass("d-none");
			});
			$("#black-star-2").on("click",function() {
				$("#white-star-2").removeClass("d-none");
				$(this).addClass("d-none");
			});
			$("#black-star-1").on("click",function() {
				$("#white-star-1").removeClass("d-none");
				$(this).addClass("d-none");
			});
		});
	</script>
	
</html>