<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/compliance}">
     <div layout:fragment="contents">
		<div class="main-box d-flex justify-content-around align-items-center">
			<div class="review-1 mt-4">
				<img width="400" height="500" th:src="${theme.imagePath}" alt="테마 포스터 이미지">
			</div>
			<div class="review-2 text-center d-flex align-items-center">
				<div class="review-2-1">
					<div class="mb-4">
						<span class="review-head" th:text="|${theme.themeName}의 리뷰를 남겨주세요!|" th:data-theme-id="${theme.id}">이 테마의 리뷰를 남겨주세요!</span>
					</div>
					<div class="star-zone">
						<label class="w-100 text-white bg-info form-control">별점</label>
						<i class="star bi bi-star" data-star-id=1></i>
						<i class="star bi bi-star" data-star-id=2></i>
						<i class="star bi bi-star" data-star-id=3></i>
						<i class="star bi bi-star" data-star-id=4></i>
						<i class="star bi bi-star" data-star-id=5></i>
					</div>
					<div class="text-center">
						<label class="w-100 text-white bg-info form-control">난이도</label>
						<div class="d-flex justify-content-around">
							<label>완전쉬움</label>
							<label>쉬움</label>
							<label>보통</label>
							<label>어려움</label>
							<label>지옥</label>
						</div>
						<div class="d-flex justify-content-around" >
							<input type="radio" class="form-control" name="level" value="완전쉬움"> 
							<input type="radio" class="form-control" name="level" value="쉬움"> 
							<input type="radio" class="form-control" name="level" value="보통"> 
							<input type="radio" class="form-control" name="level" value="어려움">
							<input type="radio" class="form-control" name="level" value="지옥">
						</div>
					</div>
					<div class="mt-2">
						<label class="w-100 text-white bg-info form-control">성공, 실패 여부</label>
						<div class="d-flex justify-content-around">
							<div><input type="radio" class="form-control" name="success" value="success"> 성공</div> 
							<div><input type="radio" class="form-control" name="success" value="fail"> 실패</div>
						</div>
					</div>
					<div class="text-left ml-2">
						<label class="w-100 text-center text-white bg-info form-control">후기 내용</label> <br>
						<textarea class="form-control" rows="3" cols="60" id="reviewText"></textarea>
					</div>
					<div class="ml-2 mt-4">
						<button class="btn btn-info form-control" id="createBtn">후기 등록하기</button>
					</div>
				</div>
			</div>
		</div>

		<hr>
	</div>
	<script layout:fragment="script">
		$(function() {
			
			var startNumber = 0;

			$(".star").on("click", function() {
				startNumber = $(this).data("star-id")
				$(".star").each(function (index, item) {
					if($(item).data("star-id") <= startNumber) {
						$(item).removeClass("bi-star");
						$(item).addClass("bi-star-fill");
					}  else {
						$(item).removeClass("bi-star-fill");
						$(item).addClass("bi-star");
					}
					
				});
				
			});
			
			$("#createBtn").on("click", function() {
				let userName = $(".name-tag").text();
				let level = $("input:radio[name=level]:checked").val();
				let success = $("input:radio[name=success]:checked").val();
				let contents = $("#reviewText").val();
				let themeId = $(".review-head").data("theme-id");
				let point = startNumber;
				
				if(level == null) {
					alert("난이도를 선택해주세요");
					return;
				}
				if(success == null) {
					alert("성공,실패 여부를 선택해주세요");
					return;
				}
				if(contents == "") {
					alert("후기 내용을 입력해주세요");
					return;
				}
				if(startNumber == 0) {
					alert("별점을 선택해주세요");
					return;
				}
				$.ajax({
					type:"post"
					,url:"/review/create"
					,data:{"themeId":themeId, "userName":userName, "level":level, "point":point, "contents":contents, "success":success}
					,success:function(response) {
						if(response.result == "success") {
							location.href="/theme/detail-view?id=" + themeId;
						} else {
							alert("리뷰 생성 실패!");
						}
					}
					,error:function() {
						alert("리뷰생성 에러!");
					}
				});
			});
			
			
		});
	</script>
	
</html>