<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
     <div layout:fragment="contents">
		<nav class="mt-2 mb-4 d-flex justify-content-center align-items-center">
			<hr>
			<b><span class="w-100 text-center">테마 추가</span></b>
			<hr>
		</nav>
		<section>
			<article class="d-flex justify-content-around mt-4 branch-create">
				<div class="text-center d-flex justify-content-around">
					<div>
						<h2>테마</h2>
						<input type="file" id="fileInput">
					</div>
					<div></div>
					<div>
						<span class="small-font">테마스토리<br></span>
						<textarea cols="30" rows="4" class="text-white bg-secondary ml-4 form-control" id="themeStory"></textarea>
					</div>
				</div>
				<div class="display-4 mr-4 text-center">
					<div class="d-flex justify-content-between">
						<span class="small-font" id="idBar" th:data-branch-id="${branch.id}">운영지점<br>(가맹점)</span>
						<div class="small-font" th:text="${branch.name}" id="branchName"></div>
					</div>
					<br>
					<div class="d-flex justify-content-between">
						<span class="small-font">테마이름<br>(소제목)</span>
						<input type="text" class="text-white bg-secondary ml-4 form-control col-6" id="themeName">
					</div>
					<br>
					<div class="d-flex justify-content-between">
						<span class="small-font">가격<br>(원)</span>
						<input type="text" class="text-white bg-secondary ml-4 form-control col-6" id="price">
					</div>
					<br>
					<div class="d-flex justify-content-between">
						<span class="small-font">제한시간<br>(분)</span>
						<input type="text" class="text-white bg-secondary ml-4 form-control col-6" id="runningTime">
					</div>
					<br>
					<div class="d-flex justify-content-between">
						<span class="small-font">장르<br>(종류)</span>
						<select class="text-white bg-secondary ml-4 form-control col-6 text-center" id="genre">
							<option value="horror"> 공포
							<option value="reasoning"> 추리
							<option value="mystery"> 미스테리
							<option value="fantasy"> 판타지
							<option value="comedy"> 코미디
						</select>
					</div>
				</div>
			</article>
		</section>
		<hr>
	</div>
	
	<script layout:fragment="script">
		
		$(function() {
			
		});
	
	</script>
</html>