<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/compliance}">
     <div layout:fragment="contents">
		<div class="main-zone">
			<hr>
			<div>
				<img alt="커뮤작성 대상 테마 이미지">
				<div>테마 제한시간</div>
				<div></div>
			</div>
			<hr>
			<table class="table">
				<thead height=100>
					<tr>
						<th>정보</th>
						<th>구인글</th>
						<th>상태</th>
						<th></th>
					</tr>
				</thead>
				<tbody height=200>
					<tr>
						<td>작성자 이름</td>
						<td>구인글 자리</td>
						<td>구인중</td>
						<td><a href="*" class="btn btn-info">참여 할게요!</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script layout:fragment="script">
		$(function() {
			
		});
	</script>
	
</html>