<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/compliance}">
     <div layout:fragment="contents">
		<div class="main-zone">
			<hr>
			<div>
				<img width=200 th:src="${theme.imagePath}" alt="커뮤작성 대상 테마 이미지">
				<h2 th:text="|플레이타임: ${theme.runningTime}분|">테마 제한시간</h2>
				<div></div>
			</div>
			<hr>
			<table class="table">
				<thead height=100>
					<tr>
						<th>정보</th>
						<th>구인글</th>
						<th>모집인원</th>
						<th>상태</th>
						<th></th>
					</tr>
				</thead>
				<tbody height=200>
					<tr th:each="community:${communityList}">
						<td th:text="${community.userName}">작성자 이름</td>
						<td th:text="${community.contents}">구인글 자리</td>
						<td th:text="|${community.recruitCount}명|">모집인원 수</td>
						<td th:text="${community.state}">구인중</td>
						<td><a href="*" class="btn btn-info">참여 할게요!</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script layout:fragment="script">
		$(function() {
			
		});
	</script>
	
</html>