<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/compliance}">
     <div layout:fragment="contents">
		<div class="main-zone">
			<hr>
			<div>
				<img alt="커뮤작성 대상 테마 이미지">
			</div>
			<hr>
			<table class="table">
				<thead>
					<tr>
						<th></th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
	<script layout:fragment="script">
		$(function() {
			
		});
	</script>
	
</html>