<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
     <div layout:fragment="contents">
		<nav class="mt-2 d-flex justify-content-center align-items-center">
			<hr>
			<b><span class="w-100 text-center">지점 추가</span></b>
			<hr>
		</nav>
		<section>
			<article class="d-flex justify-content-around mt-4 branch-create">
				<div>
					<h2>지점 로고</h2>
					<input type="file" id="fileInput">
				</div>
				<div class="display-4 mr-4">
					<div class="d-flex">
						<span class="small-font">지점이름</span>
						<input type="text" class="text-white bg-secondary ml-4 form-control" id="branchName">
					</div>
					<br>
					<div class="d-flex">
						<span class="small-font">보유테마</span>
						<a href="*" class="btn btn-secondary ml-4 form-control">테마 추가</a>
					</div>
					<br>
					<div class="d-flex">
						<span class="small-font">지점위치</span>
						<input type="text" class="text-white bg-secondary ml-4 form-control" id="location">
					</div>
				</div>
				<div class="d-flex align-items-end mb-4">
					<button class="btn btn-secondary rounded" id="createBtn" >지점 추가하기</button>
				</div>
			</article>
		</section>
		<hr>
	</div>
	
	<script layout:fragment="script">
		
		$(function() {
			$("#createBtn").on("click", function() {
				let name = $("#branchName").val();
				let location = $("#location").val();
				let file = $("#fileInput")[0].files[0];
				
				if(name == "") {
					alert("지점 이름을 입력해 주세요");
					return;
				}
				
				if(location == "") {
					alert("지점 위치를 입력해 주세요");
					return;
				}
				
				if(file == null) {
					alert("사진을 첨부해주세요");
					return;
				}
				
				let formData = new FormData();
   				formData.append("branchName", name);
   				formData.append("location", location);
   				formData.append("imageFile", file);
				
				$.ajax({
					type:"post"
					,url:"/admin/create-branch"
					,data:formData
					, enctype:"multipart/form-data" // 파일 업로드시 추가 옵션
           			, processData:false // 파일 업로드시 추가 옵션
           			, contentType:false // 파일 업로드시 추가 옵션
        			,success:function(response){
        				if(response.result == "success") {
        					location.href="/admin/main-view";
        				} else {
        					alert("지점 추가 실패");
        				}
        			}
					,error:function() {
						alert("지점추가 에러!");
					}
				});
				
			});
		});
	
	</script>
</html>