<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/compliance}">
     
		<section layout:fragment="contents">
		<hr>
			<div class="text-center mt-4 d-flex justify-content-center align-items-center">
				<!-- <h2><i class="bi bi-door-open-fill"></i></h2> -->
				<div class="d-flex"><b>escaping</b><h2><i class="bi bi-door-open-fill"></i></h2></div>
			</div>
				<div class="text-center">
					<b>환영합니다</b>
				</div>	
			<hr>
			<div class="d-flex align-items-center justify-content-center">
				<div class="choice-zone d-flex align-items-center justify-content-center">
					<a href="/user/open-login-view" class="btn btn-light form-control col-3">로그인</a>
					<a href="/user/join-view" class="btn btn-light form-control col-3">회원가입</a>
				</div>
			</div>
		</section>
	
	<script layout:fragment="script">
		$(function() {
			
		});
	</script>
	
</html>