<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/compliance}">
     <div layout:fragment="contents">
		<section>
		<hr>
			<div class="logo-zone text-center mt-4 d-flex justify-content-center align-items-center">
				<h2><i class="bi bi-door-open-fill"></i></h2>
				<div>
					<b>welcome escaping</b>
				</div>	
			</div>
		<hr>
			<div class="my-4 middle-box d-flex justify-content-center align-items-center">
				<div></div>
				<div></div>
				<div class="d-flex justify-content-around">
					<div class="login-box mt-4 justify-content-around align-itmes-center">
						<div class="mt-4 d-flex justify-content-between align-items-center">
							<label>아이디</label>
							<input type="text" class="form-control col-4" id="loginIdInput">
							<button class="btn btn-info" id="duplicationBtn">중복확인</button>
						</div>
						<div class="my-4 d-flex justify-content-between align-items-center">
							<label>비밀번호</label>
							<input type="password" class="form-control col-4" id="passwordInput">
							<span></span>
						</div>
						<div class="my-4 d-flex justify-content-between align-items-center">
							<label>비밀번호<br>확인</label>
							<input type="password" class="form-control col-4" id="duplicationPassword">
							<span></span>
						</div>
						<div class="my-4 d-flex justify-content-between align-items-center">
							<label>이름</label>
							<input type="text" class="form-control col-4" id="nameInput">
							<span></span>
						</div>
						<div class="my-4 pr-4 d-flex justify-content-between align-items-center ">
							<label>연락처</label>
							<input type="text" class="form-control col-4" id="phoneNumberInput">
							<div></div>						
						</div>
						<div class="my-4 pr-4 d-flex justify-content-between align-items-center ">
							<label>닉네임</label>
							<input type="text" class="form-control col-2" id="nickNameInput">
							<span></span>
							<div>
							<label>생년월일</label>
							<input type="date"
						        id="dateInput"
						        max="2030-06-20"
						        min="1800-06-05">
							<span></span>
							</div>
						</div>
						<div class="d-flex justify-content-center align-items-center">
							<button id="joinBtn" class="mt-4 btn-light btn form-control col-4">회원가입</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<script layout:fragment="script">
		$(function() {
			
			// 중복 검사 여부
			var isDuplicateCheck = false;
			
			// 중복체크
			$("#duplicationBtn").on("click", function() {
				let loginId = $("#loginIdInput").val();
				
				if(loginId == null) {
					alert("아이디를 입력해주세요");
					return;
				}
				
				$.ajax({
					type:"get"
					,url:"/user/duplicate-id"
					,data:{"loginId":loginId}
					,success:function(response){
						if(response.result == true) {
							alert("중복된 아이디 입니다 다른 아이디를 사용해주세요");
							return;
						} else {
							alert("사용 가능한 아이디입니다");
							isDuplicateCheck = true;
						}
					}
					,error:function(){
						alert("중복체크 에러");
					}
				});
				
			});
			
			// 회원가입 
			$("#joinBtn").on("click", function() {
				let loginId = $("#loginIdInput").val();
				let password = $("#passwordInput").val();
				let userName = $("#nickNameInput").val();
				let phoneNumber = $("#phoneNumberInput").val();
				let name = $("#nameInput").val();
				let date = $("#dateInput").val();
				
				let birthYear = Number(date.split("-")[0]);
				
				let age = 2025 - birthYear + 1;
				
				if(loginId == "") {
					alert("아이디를 입력해주세요");
					return;
				}
				if(password == "") {
					alert("비밀번호를 입력해주세요");
					return;
				}
				if(name == "") {
					alert("이름을 입력해주세요");
					return;
				}
				if(phoneNumber == "") {
					alert("연락처를 입력해주세요");
					return;
				}
				if(userName == "") {
					alert("사용할실 닉네임을 입력해주세요");
					return;
				}
				
				if(date == "") {
					alert("정확한 생년월일을 입력해주세요");
					return;
				}
				if(isDuplicateCheck == false) {
					alert("아이디 중복확인을 해주세요");
					return;
				}
				
				$.ajax({
					type:"post"
					,url:"/user/join"
					,data:{"loginId":loginId,"password": password,"userName": userName,"name": name,"age": age,"phoneNumber":phoneNumber}
					,success:function(response){
						if(response.result == "success") {
							alert("환영합니다" + name + "님");
							location.href="/user/login-view";
						} else{
							alert("회원가입 실패");
						}
					}
					,error:function() {
						alert("회원가입 에러");
					}
				});
				
			});
		});
	</script>
	
</html>