<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
     <div layout:fragment="contents">
		<nav class="mt-2 d-flex justify-content-center align-items-center">
			<hr>
			<b><span class="w-100 text-center">모든 예약내역 확인</span></b>
			<hr>
		</nav>
		<section>
			<article class="">
				<div class="main-zone">
					<table class="w-100 mt-4">
						<thead>
							<tr class="d-flex justify-content-around">
								<th>테마</th>
								<th>예약자명</th>
								<th>인원</th>
								<th>결제금액</th>
								<th>예약일시</th>
							</tr>
						</thead>
						<tbody>
							<tr class="mt-4 d-flex justify-content-around">
								<td><img src="*"><span>테마이름</span></td>
								<td>예약자 닉네임</td>
								<td>3</td>
								<td>30,000</td>
								<td>2025-08-21</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="btn-zone d-flex justify-content-around">
					<a class="mt-4 btn rounded btn-secondary" href="/admin/main-view">관리자 메인화면</a>
				</div>
			</article>
		</section>
	</div>
	
</html>