<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
     <div layout:fragment="contents">
		<nav class="mt-2 d-flex justify-content-center align-items-center">
			<hr>
			<b><span class="w-100 text-center">모든 예약내역 확인</span></b>
			<hr>
		</nav>
		<section>
			<article class="">
				<div class="main-zone">
					<table class="table">
				<thead height=100>
					<tr>
						<th>테마</th>
						<th>날짜</th>
						<th>제한시간</th>
						<th>예약 시각</th>
						<th>예약 인원</th>
						<th>edit</th>
					</tr>
				</thead>
				<tbody height=200>
					<tr th:each="reservation:${reservationList}">
						<td>
							<span th:text="${reservation.themeName}">
							</span>
							<br>
							<img width=50 th:src="${reservation.imagePath}">
						</td>
						<td th:text="${reservation.reservationDate}">날짜</td>
						<td th:text="${reservation.runningTime}">시각</td>
						<td th:text="${reservation.reservationTime}">예약 인원</td>
						<td th:text="${reservation.memberCount}"></td>
						<td><button class="btn btn-danger delete-btn" th:data-reservation-id="${reservation.reservationId}">예약취소</button></td>
					</tr>
				</tbody>
			</table>
				</div>
				<div class="btn-zone d-flex justify-content-around">
					<a class="mt-4 btn rounded btn-secondary" href="/admin/main-view">관리자 메인화면</a>
				</div>
			</article>
		</section>
	</div>
	
</html>