<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/compliance}">
     <div layout:fragment="contents">
		<div class="main-zone">
		<div class="search-zone">
			<div class="d-flex justify-content-center mt-4">
				<input type="text" class="form-control col-5">
				<label class="ml-2 btn btn-info form-control col-1">검색</label>
			</div>
		</div>
		<hr>
		<h2 class="text-center">지역별, 지점 검색 결과</h2>
		<hr>
		<div class="location-zone d-flex align-items-center" th:if="${branchList} != null">
			<div class="w-100 d-flex justify-content-around align-items-center">
				<div class="d-flex" th:each="branch:${branchList}">
					<a th:href="|/branch/detail-view?id=${branch.id}|" class="btn">
						<img width="80" th:src="${branch.branchPath}">
					</a>
					<div class="ml-2 d-flex align-items-center">
						<div>
							<div th:text="|매장명: ${branch.name}|">지점 이름</div>
							<div th:text="|주소: ${branch.location}|">주소</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
	</div>
	</div>
	<script layout:fragment="script">
		$(function() {
			
		});
	</script>
	
</html>