@charset "UTF-8";

#wrap{
	width: 1200px;
	height:800px;
	margin:0 auto;
}
.branch-create {
	width: 1200px;
}
header{
	height:80px;
}
.header-bar {
	height:80px;
}
nav{
}
section{
	height: 600px;
}
.bar{
	height: 60px;
}
article{
	 height: 500px;
}
.main-zone{

}
.small-font {
	font-size:20px;
	font-weight:bold;
}
.btn-zone{

}
footer{

}