@charset "UTF-8";

#wrap{
	width: 1200px;
	height:800px;
	margin:0 auto;
}
.branch-create {
	width: 1200px;
}
header{
	
}
.header-bar {
	height:80px;
}
.main-zone {

}
.location-zone{
	height:200px;
}
.genre-zone{
	height:200px;
}
.down-zone {

}
.logo-zone {
	height:100px;
	background-color:#A2D5F2;
}

.middle-box {
	width:1200px;
	background-color:#A2D5F2;
}
.login-box {
	width:800px;
	height:500px;
	
}
.bar{
	height: 60px;
}
article1{
	width:1200px;
	height:400px;
}
.choice-zone{
	width:400px;
	height:500px;
}
.small-font {
	font-size:20px;
	font-weight:bold;
}
.recommend-theme {

}
footer{

}