<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
     <div layout:fragment="contents">
		<nav class="mt-2 d-flex justify-content-center align-items-center">
			<hr>
			<b><span class="w-100 text-center">지점 추가</span></b>
			<hr>
		</nav>
		<section>
			<article class="d-flex justify-content-around mt-4 branch-create">
				<div>
					<h2>지점 로고</h2>
					<input type="file" id="fileInput">
				</div>
				<div class="display-4 mr-4">
					<div class="d-flex">
						<span class="small-font">지점이름</span>
						<input type="text" class="text-white bg-secondary ml-4 form-control" id="branchName">
					</div>
					<br>
					<div class="d-flex">
						<span class="small-font">보유테마</span>
						<a href="*" class="btn btn-secondary ml-4 form-control">테마 추가</a>
					</div>
					<br>
					<div class="d-flex">
						<span class="small-font">지점위치</span>
						<input type="text" class="text-white bg-secondary ml-4 form-control" id="location">
					</div>
				</div>
				<div class="d-flex align-items-end mb-4">
					<button class="btn btn-secondary rounded" id="createBtn" >지점 추가하기</button>
				</div>
			</article>
		</section>
		<hr>
	</div>
	
	<script layout:fragment="script">
		
		$(function() {
			
		});
	
	</script>
</html>