<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
     <div layout:fragment="contents">
		<nav class="mt-2 mb-4 d-flex justify-content-center align-items-center">
			<hr>
			<b><span class="w-100 text-center">테마 추가</span></b>
			<hr>
		</nav>
		<section>
			<article class="d-flex justify-content-around mt-4 branch-create">
				<div class="text-center">
					<h2>테마</h2>
					<input type="file" id="fileInput">
				</div>
				<div class="display-4 mr-4 text-center">
					<div class="d-flex justify-content-between">
						<span class="small-font">운영지점(가맹점)</span>
						<input type="text" class="text-white bg-secondary ml-4 form-control col-5" id="branchName">
					</div>
					<br>
					<div class="d-flex justify-content-between">
						<span class="small-font">테마이름(소제목)</span>
						<input type="text" class="text-white bg-secondary ml-4 form-control col-5" id="location">
					</div>
					<br>
					<div class="d-flex justify-content-between">
						<span class="small-font">가격(원)</span>
						<input type="text" class="text-white bg-secondary ml-4 form-control col-5" id="location">
					</div>
					<br>
					<div class="d-flex justify-content-between">
						<span class="small-font">시간(분)</span>
						<input type="text" class="text-white bg-secondary ml-4 form-control col-5" id="location">
					</div>
					<br>
					<div class="d-flex justify-content-between">
						<span class="small-font">장르<br>(종류)</span>
						<input type="text" class="text-white bg-secondary ml-4 form-control col-5" id="location">
					</div>
				</div>
				<div class="d-flex align-items-end mb-4">
					<button class="btn btn-secondary rounded" id="createBtn" >테마 추가하기</button>
				</div>
			</article>
		</section>
		<hr>
	</div>
	
	<script layout:fragment="script">
		
		$(function() {
			$("#createBtn")
		});
	
	</script>
</html>