<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
     <div layout:fragment="contents">
		<nav class="mt-2 d-flex justify-content-center align-items-center">
			<hr>
			<b><span class="w-100 text-center">테마 관리<span th:text="${branch?.name}">(지점명)</span></span></b>
			<hr>
		</nav>
		<section>
			<article class="">
				<div class="main-zone">
					<table class="w-100 mt-4">
						<thead>
							<tr class="d-flex justify-content-around">
								<th>테마</th>
								<th>운영지점</th>
								<th>최소가격(2인)</th>
								<th>제한시간</th>
								<th>edit</th>
							</tr>
						</thead>
						<tbody>
							<tr class="mt-4 d-flex justify-content-around" th:each="theme:${themeList}">
								<td><img width=100 th:src="${theme.imagePath}"><span th:text="${theme.themeName}">테마이름</span></td>
								<td th:text="${theme.branchName}">룸이스케이프</td>
								<td th:text="${theme.price}">45,000원</td>
								<td th:text="${theme.runningTime}">80분</td>
								<td><button  class="btn delete-btn btn-danger" th:data-theme-id="${theme.id}">삭제</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="btn-zone d-flex justify-content-around">
					<a class="mt-4 btn btn-primary" th:href="|/admin/theme/create-view?branchId=${branchId}|">테마 추가</a>
					<a class="mt-4 btn rounded btn-secondary" href="/admin/main-view">관리자 메인화면</a>
				</div>
			</article>
		</section>
	</div>
	<script layout:fragment="script">
		$(function() {
			$(".delete-btn").on("click", function() {
				let id = $(this).data("theme-id");
				$.ajax({
					type:"delete"
					,url:"/admin/delete-branch"
					,data:{"id":id}
					,success:function(response){
						if(response.result == "success") {
							location.reload();
						} else {
							alert("삭제 실패!");
						}
					}
					,error:function() {
						alert("삭제 에러!");
					}
				});
			});
		});
	</script>
	
</html>