<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/compliance}">
     <div layout:fragment="contents">
		<div class="main-zone">
		<div class="search-zone">
			<div class="d-flex justify-content-center mt-4">
				<input type="text" class="form-control col-5"><label class="ml-2 btn btn-info form-control col-1">검색</label>
			</div>
		</div>
		<hr>
		<div class="location-zone d-flex align-items-center">
			<div class="w-100 d-flex justify-content-around align-items-center">
				<label>위치</label>
				<a href="/branch/search-view?locationKey=강남" class="btn btn-info">강남</a>
				<a href="/branch/search-view?locationKey=홍대" class="btn btn-info">홍대</a>
				<a href="/branch/search-view?locationKey=신촌" class="btn btn-info">신촌</a>
				<a href="/branch/search-view?locationKey=건대" class="btn btn-info">건대</a>
			</div>
		</div>
		<hr>
		<div class="genre-zone d-flex align-items-center">
			<div class="w-100 d-flex justify-content-around">
				<label>장르</label>
				<a href="/theme/search-view?keyword=horror" class="btn btn-info">공포</a>
				<a href="/theme/search-view?keyword=resoning" class="btn btn-info">추리</a>
				<a href="/theme/search-view?keyword=mystery" class="btn btn-info">미스테리</a>
				<a href="/theme/search-view?keyword=fantasy" class="btn btn-info">판타지</a>
				<a href="/theme/search-view?keyword=comedy" class="btn btn-info">판타지</a>
			</div>
		</div>
		</div>
		<div class="down-zone">
		<hr>
			<div class="recommend text-center">
				추천테마
			</div>
		<hr>
			<div  class="w-100 recommend-theme d-flex align-items-center">
				<div th:each="theme:${themeList}"  class="w-100 d-flex justify-content-around align-items-center">
					<a th:href="|/theme/detail-view?id=${theme.id}|"><img width="80" th:src="${theme.imagePath}"></a>
				</div>
			</div>
		</div>
		<hr>
	</div>
	<script layout:fragment="script">
		$(function() {
			
		});
	</script>
	
</html>