<html lang="ko"
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/compliance}">
     <div layout:fragment="contents">
		<div class="reser-zone">
			<div class="reser-img d-flex justify-content-center">
				<img width=200 alt="포스터이미지" th:src="${theme.imagePath}">
			</div>
			<div class="reser-info d-flex mt-4">
				<div class="info-1 text-center mr-4">
					<div>
						<label>예약 날짜</label>
						<br>
						<input id="datePicker">
							   <br>
						<button type="button" class="btn btn-info col-4 mt-3 form-control" id="dateBtn">날짜 선택</button>
					</div>
					<div class="select-time d-none mt-4">
						<label>예약 시간</label>
						<div class="time-box d-flex">
							<input id="time" class="choice-time form-control col-3" name="choiceBtn" type="radio" value="12:30" >12:30
							<input id="time" class="choice-time form-control col-3" name="choiceBtn" type="radio" value="14:30" >14:30
							<input id="time" class="choice-time form-control col-3" name="choiceBtn" type="radio" value="16:30" >16:30
							<input id="time" class="choice-time form-control col-3" name="choiceBtn" type="radio" value="18:30" >18:30
							<input id="time" class="choice-time form-control col-3" name="choiceBtn" type="radio" value="20:30" >20:30
						</div>
					</div>
				</div>
				<div class="info-2">
					<label th:text="|지점명: ${theme.branchName}|">지점명: </label>
					<hr>
					<label>예약 날짜 시간: <span id="result"> </span> </label>
					<hr>
					<label th:text="|예약 테마: ${theme.themeName}|">예약 테마: </label>
					<hr>
					<label th:text="|예약자명: ${session.name}|">예약자 명: </label>
					<hr>
					<label th:text="|연락처: ${session.phoneNumber}|">연락처: </label>
					<hr>
					<label>인원: </label>
					<select id="memberCount">
						<option value="2">2명(최소인원)
						<option value="3">3
						<option value="4">4
						<option value="5">5
						<option value="6">6
					</select>
					<hr>
					<label>결제금액:<span id="priceResult" th:data-price-id="${theme.price}" th:text="${theme.price}"> </span>원</label>
					<hr>
			<div class="reser-payment">
				<button class="col-3" id="kaobtn" style="background: #fee500; color:#000; border-radius:12px; padding: 10px 20px;">
				결제하기
				</button>
			</div>
				</div>
			</div>
		</div>
	</div>
	<script layout:fragment="script">
		$(function() {
			var date = null;
			var count = $("#priceResult").data("price-id");
			
			$("#memberCount").change(function() {
				let total = 0;
				total = count * $(this).val() * 0.5;
				$("#priceResult").text(total);
			});
			
			$("#dateBtn").on("click", function() {
				date = $("#datePicker").val();
				if(date != null) {
					$(this).addClass("d-none");
					$(".select-time").removeClass("d-none");
				}
			});
			
			$("#datePicker").datepicker({
				dayNamesMin:['일', '월', '화', '수', '목', '금', '토'],
				dateFormat:"yy-mm-dd",
				minDate:0,
				onSelect:function(dateString) {
					
				}
			});
			
			
			
			$(".choice-time").on("click", function() {
				$(this).prop("checked", true);
				var time = $(this).val();
				var selectTime =" " + date + "  " + "(" +time + ")";
				$("#result").text(selectTime);
			});
			
			$("kaobtn").click(function() {
				/**
					결제 버트 클릭 시
					테마이름 가격 등등 필수 정보 입력 유효성체크
				**/
				$.ajax({
					type:"get"
					,url:"/pay/ready"
					,data:{
						payment:"payment"
					}
				});
			});
			
		});
	</script>
	
</html>