<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/compliance}">
     <div layout:fragment="contents">
     <hr>
	     <div class="d-flex justify-content-center">
	     	<h3 class="mr-4">내가 받은 제안서</h3>
	     </div>
	     <hr>
		<div class="main-box d-flex justify-content-around">
			<div class="proposal-1">
				<img width="300" height="300" th:src="${theme.imagePath}" alt="테마 포스터 이미지">
			</div>
			<div class="proposal-2 text-left d-flex">
				<div>
					<div class="proposal-box" th:each="proposal:${proposalDetailList}" th:data-proposal-id="${proposal.proposalId}">
						<span th:text="|지원자 닉네임: ${proposal.proposalUserName}|">지원자 닉네임: OOO</span>
						<hr>							
						<span th:text="|지원 내용: ${proposal.contents}|">지원내용 가나다마람난아ㅏㅇ라</span>
						<div class="d-flex justify-content-end mt-4">
							<div id="btn-zone" th:data-btn-id="${proposal.proposalId}">
								<button class="btn mr-2 agree-btn btn-success" th:data-btn-id="${proposal.proposalId}">수락하기</button>
								<button class="btn refuse-btn btn-danger" th:data-btn-id="${proposal.proposalId}">거절하기</button>
							</div>
						</div>
						<span class="d-none close-proposal" th:data-btn-id="${proposal.proposalId}">선택이 완료된 제안입니다</span>
					</div>
				</div>	
			</div>
		</div>
		<hr>
	</div>
	<script layout:fragment="script">
		$(function() {
			$(".agree-btn").on("click", function () {
				
				let state = "수락";
				let id = $(".proposal-box").data("proposal-id");
				alert("수락하였습니다");
				$.ajax({
					type:"post"
					,url:"/proposal/update"
					,data:{"id":id, "state":state}
					,success:function(response){
						if(response.result == "success") {
							$(".proposal-box").addClass("d-none");
						} else {
							alert("제안답변 실패");
						}						
					}
					,error:function(){
						alert("제안 답변에러");
					}
				});
				
			});
			$(".refuse-btn").on("click", function() {
				let id = $(".proposal-box").data("proposal-id");
				alert("거절하였습니다");
				$.ajax({
					type:"delete"
					,url:"/proposal/delete"
					,data:{"id":id}
					,success:function(response){
						if(response.result == "success") {
							location.reload();
						} else {
							alert("삭제 실패");
						}
						
					}
					,error:function(){
						alert("삭제에러");
					}
				});
				
			});
		});
	</script>
	
</html>